/* RESET */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* FONTS */
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300&display=swap");

/* NAV */

li,
a {
  font-family: "Manrope", sans-serif;
  font-size: 13px;
  color: black;
  text-decoration: none;
  font-weight: medium;
}

a:hover {
  text-decoration: underline;
}

h3 {
  margin: 0px;
  font-family: "Manrope", sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1.5em;
  padding-bottom: 1em;
  margin: 0 -0.5em 0 -0.5em;

  right: 0;
  left: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  z-index: 2;
}

.links {
  margin-top: -430px;
}

nav {
  display: flex;
  z-index: 1;
  overflow: hidden;
  width: 800px;
}

.logo a {
  margin: 0;
}

.logo {
  cursor: pointer;
  text-transform: none;
  padding-left: 2em;
  display: flex;
}

li a {
  margin: 0;
}

.logo img {
  padding: 0px;
}

.logo:hover {
  text-decoration: none;
}

.nav_links {
  list-style: none;
}
.nav_links li {
  display: inline-block;
  padding: 0px 15px;
}

.nav_links ul {
  list-style: none;
  margin-left: 0%;
  padding-left: 0%;
}

nav ul ul {
  position: absolute;

  padding: 1em;
  display: none;
  background-color: #b2d9ea;
  border-radius: 5px 5px 5px 5px;
  z-index: 1;
  width: 700px;
}
.nav_links ul li:hover > ul {
  display: block;
}

nav ul ul li {
  width: 150px;
  float: none;
  display: list-item;
  position: relative;
}

nav ul li:hover > ul {
  display: block;
}

.nav_links li a {
  transition: all 0.3s ease 0s;
}

.nav_links ul li a {
  display: block;
  line-height: 40px;
}

.sociallink {
  padding-right: 1em;
  zoom: 2;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.socialig {
  zoom: 2;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.links {
  margin-right: 2em;
}

.navimg {
  display: inline;
  max-width: 20%;
  float: right;
  z-index: 1;
  border-radius: 5px 5px 5px 5px;
}

.navimgg {
  max-width: 20%;
  display: inline;
}

/* MAIN */
main {
  background-color: #f5f5f5;
  padding-top: 100px;
  padding-left: 70px;
  padding-right: 70px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.gallery img {
  width: 150%;
}

.product {
  display: flex;
  flex-wrap: wrap;
  margin-left: 50px;
  margin-bottom: 50px;
}

#bag_info {
  margin-left: 300px;
  margin-top: 20px;
}

h1 {
  font-family: manrope;
  font-weight: 500;
  font-size: 25px;
  letter-spacing: 1px;
  padding-bottom: 30px;
}

h2 {
  font-family: manrope;
  letter-spacing: 1px;
  font-size: 15px;
  padding-bottom: 100px;
}

div.color_wrapper {
  display: flex;
  flex-direction: row;
  margin-top: -22px;
  margin-bottom: 70px;
}
#bag_info h4 {
  font-family: manrope;
  letter-spacing: 1;
  margin-bottom: 25px;
  font-size: 20px;
  font-weight: 500;
}

#bag_info p {
  font-family: manrope;
  letter-spacing: 1;
  margin-bottom: 100px;
}

button#add_to_cart:hover {
  background-color: black;
  color: white;
}

button#buy_now:hover {
  background-color: #f5f5f5;
  color: black;
}

div.color_circle {
  background-color: black;
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

div.one {
  background-color: black;
  margin-right: 10px;
}

div.two {
  background-color: #bce9b6;
  margin-right: 10px;
}

div.three {
  background-color: #faebd7;
  margin-right: 10px;
}

button {
  margin-bottom: 40px;
  border: 2px solid black;
  padding: 15px;
  width: 150px;
  font-family: manrope;
  font-weight: 450;
  font-size: 15px;
  margin-right: 20px;
  letter-spacing: 1px;
}

button#buy_now {
  background-color: black;
  color: white;
}

section.suggestions {
  padding-top: 130px;
}

section.suggestions h3 {
  font-family: manrope;
  font-weight: 500;
  font-size: 30px;
  letter-spacing: 1px;
  padding-bottom: 20px;
  text-align: center;
  margin-bottom: 40px;
}

.slider {
  width: 90vw;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 20px;
  padding-bottom: 150px;
}

.info h2 {
  padding-top: 20px;
  font-family: manrope;
  letter-spacing: 1px;
  font-size: 18px;
  font-weight: 500;
}

.price_wrapper p {
  margin-top: -80px;
  font-family: manrope;
  letter-spacing: 1px;
}

/* Footer */
.copyrights {
  background-color: #cdecd9;
}

.copyrights_text {
  font-size: 0.75rem;
  text-align: center;
  padding: 0.9rem;
}

.footer {
  width: 80%;
  /* height: 40vh; */
  color: black;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 4rem auto;
}

.footerHeading1,
.footerHeading2 {
  display: flex;
  flex-direction: column;
  margin-right: 4rem;
}

.footerHeading1 h2,
.footerHeading2 h2 {
  margin-bottom: 2rem;
  font-size: 1.125rem;
  font-weight: 500;
}

.footerHeading1 a,
.footerHeading2 a {
  color: black;
  text-decoration: none;
  margin-bottom: 1rem;
}

.footerHeading1 a:hover,
.footerHeading2 a:hover {
  text-decoration: underline;
}

.newsletterForm h2 {
  margin-bottom: 2rem;
  font-size: 1.125rem;
  font-weight: 500;
  text-align: center;
}

#footer-email {
  width: 250px;
  height: 40px;
  outline: none;
  border: black;
  background-color: #f5f5f5;
  padding-left: 0.5rem;
  margin-bottom: 1rem;
}

#footer-email::placeholder {
  color: black;
  height: 40px;
  color: black;
  font-size: 0.938rem;
}

#footer-email-btn {
  width: 100px;
  height: 40px;
  border-radius: 0%;
  background-color: black;
  border: none;
  color: white;
  outline: none;
}

#footer-email-btn:hover {
  cursor: pointer;
  background-color: #b2d9ea;
  transition: all 0.4s ease-out;
}

/* Responsiveness */

@media screen and (max-width: 1150px) {
  .newsletterForm {
    margin-top: 4rem;
  }
}

@media screen and (max-width: 820px) {
  .newsletterForm {
    margin-top: 4rem;
  }
  .product {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-bottom: 50px;
  }
  .gallery img {
    width: 100%;
  }
  #bag_info {
    margin-left: 20px;
    margin-top: 100px;
  }
}

@media screen and (max-width: 720px) {
  .newsletterForm {
    margin-top: 4rem;
  }
  .product {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-bottom: 50px;
  }
  .gallery img {
    width: 100%;
  }
  #bag_info {
    margin-left: 20px;
    margin-top: 100px;
  }
}
