/* RESET */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* FONTS */
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300&display=swap");

/* NAV */
li,
a {
  font-family: "Manrope", sans-serif;
  font-size: 13px;
  color: black;
  text-decoration: none;
  font-weight: medium;
}

a:hover {
  text-decoration: underline;
}

h3 {
  margin: 0px;
  font-family: "Manrope", sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1.5em;
  padding-bottom: 1em;
  margin: 0 -0.5em 0 -0.5em;

  right: 0;
  left: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  z-index: 2;
}

.links {
  margin-top: -430px;
}

nav {
  display: flex;
  z-index: 1;
  overflow: hidden;
  width: 800px;
}

.logo a {
  margin: 0;
}

.logo {
  cursor: pointer;
  text-transform: none;
  padding-left: 2em;
  display: flex;
}

li a {
  margin: 0;
}

.logo img {
  padding: 0px;
}

.logo:hover {
  text-decoration: none;
}

.nav_links {
  list-style: none;
}
.nav_links li {
  display: inline-block;
  padding: 0px 15px;
}

.nav_links ul {
  list-style: none;
  margin-left: 0%;
  padding-left: 0%;
}

nav ul ul {
  position: absolute;

  padding: 1em;
  display: none;
  background-color: #b2d9ea;
  border-radius: 5px 5px 5px 5px;
  z-index: 1;
  width: 700px;
}
.nav_links ul li:hover > ul {
  display: block;
}

nav ul ul li {
  width: 150px;
  float: none;
  display: list-item;
  position: relative;
}

nav ul li:hover > ul {
  display: block;
}

.nav_links li a {
  transition: all 0.3s ease 0s;
}

.nav_links ul li a {
  display: block;
  line-height: 40px;
}

.sociallink {
  padding-right: 1em;
  zoom: 2;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.socialig {
  zoom: 2;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.links {
  margin-right: 2em;
}

.navimg {
  display: inline;
  max-width: 20%;
  float: right;
  z-index: 1;
  border-radius: 5px 5px 5px 5px;
}

.navimgg {
  max-width: 20%;
  display: inline;
}

/* MAIN */

main {
  background-color: #f5f5f5;
}

.hero_banner_top img {
  min-width: 100vw;
  max-width: 100vw;
}

section.products {
  margin-top: 100px;
  margin-left: 70px;
  margin-right: 70px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 50px;
  padding-bottom: 150px;
}

.info h2 {
  padding-top: 15px;
  font-family: manrope;
  letter-spacing: 1px;
  font-size: 18px;
  font-weight: bold;
}

.price_wrapper p {
  padding-top: 10px;
  font-family: manrope;
  letter-spacing: 1px;
}

div.color_circle {
  background-color: black;
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

div.one {
  background-color: blue;
}

div.two {
  background-color: green;
}

div.three {
  background-color: brown;
}

div.color_wrapper {
  width: 120px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: relative;
  left: 280px;
  margin-top: -38px;
}
