li,
a {
  font-family: "Manrope", sans-serif;
  font-size: 13px;
  color: black;
  text-decoration: none;
  font-weight: medium;
}

a:hover {
  text-decoration: underline;
}

h3 {
  margin: 0px;
  font-family: "Manrope", sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1.5em;
  padding-bottom: 1em;
  margin: 0 -0.5em 0 -0.5em;

  right: 0;
  left: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  z-index: 2;
}

.links {
  margin-top: -430px;
}

nav {
  display: flex;
  z-index: 1;
  overflow: hidden;
  height: 100px;
  width: 800px;
}

.logo a {
  margin: 0;
}

.logo {
  cursor: pointer;
  text-transform: none;
  padding-left: 2em;
  display: flex;
}

li a {
  margin: 0;
}

.logo img {
  padding: 0px;
}

.logo:hover {
  text-decoration: none;
}

.nav_links {
  list-style: none;
}
.nav_links li {
  display: inline-block;
  padding: 0px 15px;
}

.nav_links ul {
  list-style: none;
  margin-left: 0%;
  padding-left: 0%;
}

nav ul ul {
  position: absolute;

  padding: 1em;
  display: none;
  background-color: #b2d9ea;
  border-radius: 5px 5px 5px 5px;
  z-index: 1;
  width: 700px;
}
.nav_links ul li:hover > ul {
  display: block;
}

nav ul ul li {
  width: 150px;
  float: none;
  display: list-item;
  position: relative;
}

nav ul li:hover > ul {
  display: block;
}

.nav_links li a {
  transition: all 0.3s ease 0s;
}

.nav_links ul li a {
  display: block;
  line-height: 40px;
}

.sociallink {
  padding-right: 1em;
  zoom: 2;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.socialig {
  zoom: 2;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.links {
  margin-right: 2em;
}

.navimg {
  display: inline;
  max-width: 20%;
  float: right;
  z-index: 1;
  border-radius: 5px 5px 5px 5px;
}

.navimgg {
  max-width: 20%;
  display: inline;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30em;
  padding: 2rem;
}

form label {
  line-height: 1.5rem;
  font-weight: lighter;
  margin-top: 20px;
  font-size: 15px;
  margin-left: -19.5rem;
}

.phoneNumber {
  margin-left: -15.5rem;
}

button {
  background-color: #707070;
  color: white;
  border-radius: 20px;
  margin: 2rem;
  outline: none;
  width: 160px;
  height: 35px;
  border: none;
  opacity: 80%;
  font-size: 15px;
}

button:hover {
  opacity: 100%;
}

#form_container input {
  width: 350px;
  height: 20px;
}

/* Footer */
.copyrights {
  background-color: #cdecd9;
}

.copyrights_text {
  font-size: 0.75rem;
  text-align: center;
  padding: 0.9rem;
}

.footer {
  width: 80%;
  /* height: 40vh; */
  color: black;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 4rem auto;
}

.footerHeading1,
.footerHeading2 {
  display: flex;
  flex-direction: column;
  margin-right: 4rem;
}

.footerHeading1 h2,
.footerHeading2 h2 {
  margin-bottom: 2rem;
  font-size: 1.125rem;
  font-weight: 500;
}

.footerHeading1 a,
.footerHeading2 a {
  color: black;
  text-decoration: none;
  margin-bottom: 1rem;
}

.footerHeading1 a:hover,
.footerHeading2 a:hover {
  text-decoration: underline;
}

.newsletterForm h2 {
  margin-bottom: 2rem;
  font-size: 1.125rem;
  font-weight: 500;
  text-align: center;
}

#footer-email {
  width: 250px;
  height: 40px;
  outline: none;
  border: black;
  background-color: #f5f5f5;
  padding-left: 0.5rem;
  margin-bottom: 1rem;
}

#footer-email::placeholder {
  color: black;
  height: 40px;
  color: black;
  font-size: 0.938rem;
}

#footer-email-btn {
  width: 100px;
  height: 40px;
  border-radius: 0%;
  background-color: black;
  border: none;
  color: white;
  outline: none;
}

#footer-email-btn:hover {
  cursor: pointer;
  background-color: #b2d9ea;
  transition: all 0.4s ease-out;
}

/* Responsiveness */

@media screen and (max-width: 1150px) {
  .newsletterForm {
    margin-top: 4rem;
  }
}

@media screen and (max-width: 820px) {
  .newsletterForm {
    margin-top: 4rem;
  }
}

@media screen and (max-width: 720px) {
  .newsletterForm {
    margin-top: 4rem;
  }
}
